<%= form_for(forum) do |f| %>
  <% if forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% forum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <% if user_signed_in? %>

   <div class="field">
      <%= f.label :user_id %>
       <%= current_user.username %>
       <%= f.hidden_field :user_id, value: current_user.id %>
      </div>

   <div class="field">
     <%= f.label :tournament_id %>
     <%= f.collection_select :tournament_id, Tournament.all, :id, :name %>
   </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% else %>
      <p> not signed in </p>
 <% end %>
<% end %>
