<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @forum.user.username %>
</p>


<p>
  <strong>Tournament:</strong>
  <%= @forum.tournament.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @forum.body %>
</p>

<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
