<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @japan_vote.user.username %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @japan_vote.tournament.name %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @japan_vote.ranking.name %>
</p>

<%= link_to 'Edit', edit_japan_vote_path(@japan_vote) %> |
<%= link_to 'Back', japan_votes_path %>
